/**
 * @des 公共button按钮
 */
.common-btn {
}
/**
 * @des 浮动按钮
 */
.float-add-btn {
	position: fixed;
	width: 200rpx;
	height: 200rpx;
	bottom: 20rpx;
	right: 20rpx;
	background-color: $main-color;
	color:#fff;
	z-index: 88;
	&::before {
		position: absolute;
		content: '+';
		
	}
}