/**
 * @des 公共button按钮
 */
.common-btn {
	height: 88rpx;
	background-color: $main-color;
	line-height: 88rpx;
	color:#fff;
	text-align: center;
	border-radius: 6rpx;
}

/**
 * @des 浮动按钮
 */
.float-add-btn {
	position: fixed;
	width: 120rpx;
	height: 120rpx;
	bottom: 40rpx;
	right: 40rpx;
	border-radius: 100rpx;
	background-color: $main-color;
	color:#fff;
	z-index: 88;
	&::before {
		position: absolute;
		font-size: 90rpx;
		left: 28rpx;
		top: -5rpx;
		z-index: 99;
		color:#fff;
		content: '+';
	}
}
/**
 * 向右箭头
 */
.rit-icon {
	width: 34rpx;
	height: 34rpx;
	background: url(../img/rit-icon.png);
	background-size: 100%;
}