
/**
 * @des 盒子间距
 */
.mar-20 {
	margin: 20rpx
}
.mar-t20 {
	margin-top: 20rpx
}
.mar-l20 {
	margin-left: 20rpx
}
.mar-r20 {
	margin-right: 20rpx
}
.mar-b20 {
	margin-top: 20rpx
}
.padd-t20 {
	padding-top: 20rpx
}
.padd-l20 {
	padding-left: 20rpx
}
.padd-r20 {
	padding-right: 20rpx
}
.padd-b20 {
	padding-bottom: 20rpx
}

/**
 * @des 公共button按钮
 */
.common-btn {
	height: 88rpx;
	background-color: $main-color;
	line-height: 88rpx;
	color: #fff;
	text-align: center;
	border-radius: 6rpx;
}

/**
 * @des 浮动按钮
 */
.float-add-btn {
	position: fixed;
	width: 120rpx;
	height: 120rpx;
	bottom: 80rpx;
	right: 40rpx;
	background: url(http://canpointtest.com/mobile-img/add-btn.png) no-repeat;
	background-size: 100%;
	z-index: 88;
}
/**
 * 向右箭头
 */
.rit-icon {
	width: 34rpx;
	height: 34rpx;
	background: url(http://canpointtest.com/mobile-img/rit-icon.png) no-repeat;
	background-size: 100%;
}

/**
 * 图片默认背景
 */
.auto-bg-img {
}

/**
 * 审批状态
 */
.wait {
	color: $u-type-primary;
}
.agree {
	color: $u-type-success;
}
.refuse {
	color: $u-type-error;
}
.cancel {
	color: $u-type-info;
}
