/**
 * @des 公共样式
 */
.bg-fff {
	background-color: #fff;
}
/**
 * @des 公共button按钮
 */
.common-btn {
	height: 88rpx;
	background-color: $main-color;
	line-height: 88rpx;
	color: #fff;
	text-align: center;
	border-radius: 6rpx;
}

/**
 * @des 浮动按钮
 */
.float-add-btn {
	position: fixed;
	width: 120rpx;
	height: 120rpx;
	bottom: 80rpx;
	right: 40rpx;
	background: url(/mobile-img/add-btn.png) no-repeat;
	background-size: 100%;
	z-index: 88;
}
/**
 * 向右箭头
 */
.rit-icon {
	width: 34rpx;
	height: 34rpx;
	background: url(/mobile-img/rit-icon.png);
	background-size: 100%;
}

/**
 * 审批状态
 */
.wait {
	color: #0079ff;
}
.agree {
	color: #69c08f;
}
.refuse {
	color: #e37e7e;
}
.cancel {
	color: #333333;
}
